// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


// moje
$color: #900000;/*linki*/
$color2: #e71a1a;/*link menu inny czerwony*/
$color_hamburger:black;/*kolor burgera*/
$aldrich:'Aldrich', sans-serif;
$menu_resolution_open:1200px;
$time_open_menu:250ms;
$menu_resolution_open_1: ($menu_resolution_open - 1);