///////////////////czcionki///////////////*/

/*pisany text*/
.write-text{
    color:#fff;
    .main-title{letter-spacing: 5px}
    .hellow-world{font-family: 'Press Start 2P', cursive;font-weight: 200;letter-spacing: 0px}
  }
  
  /*pisany text*/
  
  
  
  .main-title{font-family: 'Aldrich', sans-serif}
  
  .text-longshadow {text-shadow: 1.5px 0px 1px black;}
  .text-longshadow::first-letter {
  text-transform:uppercase
  }
  .red-font{color:#B91319!important}
  .white-font{color:#fff}
  .grey-font{color:grey}
  .black-font{color:#000}
  .aldrich{font-family: $aldrich;}
  
  a,a:active,a:hover,a:focus{font-family: $aldrich;text-decoration:none}
  
  
  
  
  
  
  h1,h2,h3,h4,h5,h6{margin-top:20px;margin-bottom: 10px;font-family: 'Noticia Text', serif;font-weight: 500}
  
  
  p{font-family: 'Noticia Text', serif;font-size: 16px!important;font-weight: 500!important;margin-top:20px;margin-bottom: 10px;}
  
  
  .spcial-p{font-weight: 500;
  font-size: 0.8em;
  line-height: 1.4;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 2px;}
  
  
  body { height: 100%; text-align:center;color:#000;background-color: black}
  .czern{  background-color: rgba(0, 0, 0, 0.5);}
  .czern1{  background-color: rgba(0, 0, 0, 0.5);}
  
  .grey{color:#999}
  .bold{text-transform: uppercase;font-weight: bold}
  .bigfont{font-size: 3em;text-transform: uppercase;  font-family: 'Aldrich', sans-serif;font-weight: bold}
  .mdfont{font-size: 40px}
  @media screen and (max-width: 410px) {.bigfont{font-size: 2.2em}}  
  @media screen and (max-width: 310px) {.bigfont{font-size: 1.7em}}
  /*///////////////////czcionki///////////////*/
  
  /*paddingi*/
  
  
  .mg-top-20px{margin-top:20px;}
  
  .pd-top-0px{padding-top:0px!important}
  .pd-bt-10{padding-bottom:10px}
  .pd-bt-30{padding-bottom:30px}
  .mg-bt-top-10px{margin-top:10px;margin-bottom:10px}
  .pd-5px{padding-right:5px;}
  .pd-tp-bt-0{padding-top: 0px!important;padding-bottom: 0px!important}
  
  // .container-fluid{padding-top: 60px;padding-bottom: 60px;}
  
  
  .pd-lf-rg-0{padding-left:0px;padding-right:0px}
  
  .pd-zero{padding: 0px}
  .pd-top-bt{padding-top:100px!important;padding-bottom: 100px!important}
  .pd-top-bt-50px{padding-top:50px!important;padding-bottom: 50px!important}
  .pd-top-50px{padding-top: 50px}
  .pd-top-bt-20{padding-top: 20px;padding-bottom: 20px}
  .pd-top-20{padding-top: 20px}
  .padding-container{padding-top: 40px;padding-bottom: 40px}
  .padding-top-bt{padding-top: 100px;padding-bottom: 100px}
  
  .deskop-padding{padding-left: 50px;padding-right: 50px}
  .padding-left-s{padding-left:5%}
  
  
  .pd-photo-blog{
    padding:15px 0px 15px 0px
  }
  @media (max-width: 768px) {
  
  .pd-photo-blog{
    padding:0px 0px 0px 0px
  }
  
  }
  
  
  
  
  
  .vertical_align {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}
  /* Extra small devices (767px and down) */
  @media (max-width: 1199px) {
    .deskop-padding{padding-left: 15px;padding-right: 15px}
    .vertical_align {display: block; }
  }
  
  /*paddingi*/
  
  /*specjalne*/
  .border-top-2px{border-top:2px solid black}
  
  .form-horizontal .control-label{
      text-align: left!important;
  }
  @media (max-width: 415px) {
    .g-recaptcha {
        transform:scale(0.70);
        transform-origin:0 0;
    }
  }
  @media (max-width: 290px) {
    .g-recaptcha {
        transform:scale(0.57);
        transform-origin:0 0;
    }
  }
  
  
  
  @media (min-width: 1199px) {.modal-edit{width:90%!important}}
  
  .modal{z-index:12000!important}
  .line-height-20{line-height:20px!important}
  .over-auto{overflow: auto}
  .over-hiden{overflow:hidden}
  
  .tab-content .tab-pane {    
      position: relative;
  }
  
  
  /*specjalne*/
  
  /*customowe style textu*/
  
  @media screen and (max-width: 1199px) {.text-center-md{text-align: center!important;}}
  
  /*customowe style textu*/
  
  /*oferta*/
  
  
  
  
  $time: 250ms;
  .my-hr{
      width: 60px;
      margin: 20px 0;
      border: 3px solid $color;
      box-sizing: content-box;float: left;
      display:block
  
  }
  
  .my-hr-2{
    width: 40px;
    border: 3px solid $color;
    box-sizing: content-box;
    -webkit-transition:$time border,$time width;
    transition:$time border,$time width;
    display:block;
  }
  
  .my-hr-3{
      width: 40px;
      border: 3px solid $color;
      box-sizing: content-box;
      display:block;float:left
  
  }
  
  
  
  
  .hover-services a{
    -webkit-transition:$time color,$time background-color;
    transition:$time color,$time background-color;
    color: black!important;
    box-sizing: border-box;
    flex: 1;
    display: block;
    height: 100%;
  }
  .hover-services{padding: 0px;}
  .hover-services:hover a{color: white!important;background-color: $color;}
  .hover-services:hover .my-hr-2{ border: 3px solid #fff;width: 100px;}
  
  
  .offer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .style-two {
    border-bottom:5px solid linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    
  }
  /*oferta*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*strona kontakt*/
  #contact_form .form-control{border-radius:0px}
  
  #contact_form .control-label{
    padding-bottom:10px
  }
  
  #contact_form .control-group{
    margin-top: 30px
  }
  
  
  .contact-img{width: 110px;height:110px;margin-left: auto;margin-right: auto}
  @media (max-width: 600px) {.okienko-wnetrze{ width: 90%;padding:50px 15px 50px 15px;}
  .contact-img{width: 50px;height:50px;margin-left: auto;margin-right: auto}}
  
  //.errormessage label:empty
  //{
  //    padding:0px
  //}
  //.errormessage label,.errormessage-div {
  //    color: #fff;
  //    background: #cc3b3b url('img/cancel.svg') no-repeat 9px 9px;
  //     background-size:10px 10px;
  //    padding: 5px 15px 3px 25px;
  //    font-size: 13px;
  //    border-radius: 2px;
  //    margin: 12px 0px 0px 0px;
  //    line-height: 23px;
  //    display: inline-block;width: 100%;text-align: center;
  //
  //  }
  
  
  .errormessage strong{
    color: #fff;
    background: 9px 9px no-repeat #cc3b3b;
    background-size: 10px 10px;
    padding: 5px 15px 3px 25px;
    font-size: 13px;
    border-radius: 2px;
    margin: 12px 0 0;
    line-height: 23px;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  // input:empty{display:block}
  .sendmessage_button{padding: 10px 45px;color:#FFF;border:2px solid #FFF;cursor: pointer;background-color: rgba(0, 0, 0, 0.2); margin:0px 0px;}
  .sendmessage_button:hover{color: black;background-color:#FFF;text-decoration: none}
  .contakt_background{
    color: #FFF;padding-top:100px;padding-bottom:100px;font-family: 'Aldrich', sans-serif;  
    background:url('../img/3373851109_d910b41a52_o.jpg') center center no-repeat fixed;
    background-size: cover;
    position: relative;padding-top:150px
  }
  .contact_darkening_background{background-color: rgba(23, 23, 23, 0.84);padding-top: 50px}
  /*strona kontakt*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .smallimg{width: 110px;height:110px;padding-bottom: 20px;margin-left: auto;margin-right: auto}
  
  
  .pad-mar-zero{padding: 0px;margin: 0px}
  .float-left{float: left;}
  .verticalcenter{ color:#FFF;
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;}
  
  
  
  
  
  /*vertical*/
  .table-1{display: table;width: 100%}
  .vertical {
      display: table;
      height: 100vh;
      width: 100%;
      text-align: center;overflow: hidden;
  }
  .table-cell{ display: table-cell!important;vertical-align: middle;margin: auto;position: relative;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  .background_cutout{position: relative}
  .background_cutout::after {
      width: 100%;
      content: '';
      position: absolute;
      top: -35px;
      left: 0px;
      height: 35px;
      background: url('../img/maska.png') no-repeat center center;
      z-index: 5000;
      background-size: cover;
  }
  .background_cutout img{
    width: 200px;height: 200px
  }
  /*vertical*/
  
  
  
  
  /*///////////////////tla///////////////*/
  .quotation{background:url('../img/home/albert-einstein-1165151.jpg') no-repeat fixed center top; background-size:cover;position:relative
  }
  
  
  
  .offer_conatiner{
    width: 100%;
  
     background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/home/handshake-2056023_1920.jpg') center center no-repeat fixed;
    background-size: cover;
    position: relative;
  
  }
  
  
  
  // .sectionclass:before {
  // content: '';
    
  //     position: absolute;
  //     background-color: #000;
  //     opacity: 0.5;
  //     width: 100%;
  //     height: 100%;
  // }
  
  
  .bg-white{background-color: white}
  .grey-cont{background-color: #e8e8e8}
  .ligh-bg{background-color: #177CA4; text-align: center;}
  
  
  
  .bialetlo{background-color: white; box-shadow: 0 0 10px #FFF;}
  
  
  
  
  // .secondbackground{  background:url('../img/programming-1857236_1920.jpg') no-repeat fixed ; background-size:100% 100%;}
  
  .dark-bg{ background-color: rgba(0,0,0,0.6);}
  
  
  
  
  
  
  
  .gradient_bg {
      background: -webkit-linear-gradient(90deg, #111111, #333333, #111111);
      background: -o-linear-gradient(90deg, #111111, #333333, #111111);
      background: -moz-linear-gradient(90deg, #111111, #333333, #111111);
      background: linear-gradient(90deg, #111111, #333333, #111111);
      border-top:5px solid #e71a1a;border-bottom: 5px solid #e71a1a;color: #FFF;padding: 50px 15px;
  }
  
  .home_contact{background-color:$color}
  /*///////////////////tla///////////////*/
  
  
  
  .zoom{
      overflow: hidden; 
  }
  .zoom img {
      transition-duration: 1.5s;
      margin: 0 auto;
  }
  .zoom img:hover {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      z-index: 0;
  }
  .concertlink{border: 1px solid #06C;padding: 5px 15px}
  .concertlink:hover{text-decoration: none}
  .table1{}
  
  
  .ikony{width: 74px;height: 74px;}
  .mg-top{margin-top: 50px}
  
  
  
  
  
  /*///////////////////////////////////////od tad jest scrol do gory///////////////////////////////////////////////*/
  .scrollup{
  width: 44px;
    height: 44px;
    text-decoration: none;
    opacity:1;
    position: fixed;
    right: 3%;
    bottom: 3%;z-index:5000;display:none;}
  .scrollup>img{width:100%;}
  
  /*///////////////////////////////////////oktore koncza sie tu///////////////////////////////////////////////*/
  
  
  
  
  
  /*arrow*/
  .arrow{position: absolute;left: 0;bottom: 0;text-align: center;margin:auto;width: 100%;z-index: 3000}
  .ikonaproject{width: 50px;height: 50px}
  /*arrow*/
  .block{display: block}
  
  
  
  
  /*strona search*/
  
  
  /*prawy cien sidebar w na blogu*/
  .blog_right_shadow {
    box-shadow: 730px 0 0 #e8e8e8, 1140px 0 0 #e8e8e8;
    -moz-box-shadow: 730px 0 0 #e8e8e8, 1140px 0 0 #e8e8e8;
    -webkit-box-shadow: 730px 0 0 #e8e8e8, 1140px 0 0 #e8e8e8;
  }
  @media screen and (max-width: 1199px) {
    .blog_right_shadow {
      background: #ffffff;
      box-shadow: 730px 0 0 #fff, 1140px 0 0 #fff;
      -moz-box-shadow: 730px 0 0 #fff, 1140px 0 0 #fff;
      -webkit-box-shadow: 730px 0 0 #fff, 1140px 0 0 #fff;
    }
  
  }
  .shadowOnRight {
    z-index: 10;
    background-color: #e8e8e8;
    box-shadow: 365px 0 0 #e8e8e8, 750px 0 0 #e8e8e8;
    -moz-box-shadow: 365px 0 0 #e8e8e8, 750px 0 0 #e8e8e8;
    -webkit-box-shadow: 365px 0 0 #e8e8e8, 750px 0 0 #e8e8e8;
  
  }
  /*prawy cien sidebar w na blogu*/
  
  
  
  
  
  
  
  
      .btn-custom{padding: 14.5px 20px;border-radius: 0px;border:1px solid black;}
      .btn-custom:hover{border:1px solid black;background-color: #177CA4;color:#fff}
      .form-control-special {height: 51px;border-radius: 0px;border:1px solid black}
      .title-link{color:#B91319}
      .title-link:hover{color:#333}
  /*strona search*/
  
  /*linki*/
  a{  -webkit-transition: 250ms all;
    transition: 250ms all;}
  .blok-link{padding: 10px 25px;border:1px solid black;line-height: 50px;font-size: 16px;color: black;background-color: white; box-shadow: 0 0 5px #000;}
  .blok-link:hover{background-color: #333;color: white;text-decoration: none;}
  
  .blog-link2{
    background-color: #f2f2f2;
    color:#000;
    margin:3px!important;
    float: left;
    font-size:14px;
  border: 1px solid #000;
  border-radius: 2px;
  padding: 6px 10px;
  }
  
  .blog-link2:hover{background-color:#06c;color:#fff}
  
  
  .home-link {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border:1px solid white;color:white;padding: 10px 20px;border-radius: 3px
  }
  .home-link:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .home-link:hover, .home-link:focus, .home-link:active {
    color: $color !important;
  }
  .home-link:hover:before, .home-link:focus:before, .home-link:active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  /*blog*/
  .top-blog-bg{  
  background-image: url('../img/blog/1900_blog_bg.jpg');
  }
  
  
  @media screen and (max-width: 1900px) {.top-blog-bg{background-image: url('../img/blog/1900_blog_bg.jpg')}}
  @media screen and (max-width: 1800px) {.top-blog-bg{background-image: url('../img/blog/1800_blog_bg.jpg')}}
  @media screen and (max-width: 1700px) {.top-blog-bg{background-image: url('../img/blog/1700_blog_bg.jpg')}}
  @media screen and (max-width: 1600px) {.top-blog-bg{background-image: url('../img/blog/1600_blog_bg.jpg')}}
  @media screen and (max-width: 1500px) {.top-blog-bg{background-image: url('../img/blog/1500_blog_bg.jpg')}}
  @media screen and (max-width: 1400px) {.top-blog-bg{background-image: url('../img/blog/1400_blog_bg.jpg')}}
  @media screen and (max-width: 1300px) {.top-blog-bg{background-image: url('../img/blog/1300_blog_bg.jpg')}}
  @media screen and (max-width: 1200px) {.top-blog-bg{background-image: url('../img/blog/1200_blog_bg.jpg')}}
  @media screen and (max-width: 1100px) {.top-blog-bg{background-image: url('../img/blog/1100_blog_bg.jpg')}}
  @media screen and (max-width: 1000px) {.top-blog-bg{background-image: url('../img/blog/1000_blog_bg.jpg')}}
  @media screen and (max-width: 900px) {.top-blog-bg{background-image: url('../img/blog/900_blog_bg.jpg')}}
  @media screen and (max-width: 800px) {.top-blog-bg{background-image: url('../img/blog/800_blog_bg.jpg')}}
  @media screen and (max-width: 700px) {.top-blog-bg{background-image: url('../img/blog/700_blog_bg.jpg')}}
  @media screen and (max-width: 600px) {.top-blog-bg{background-image: url('../img/blog/600_blog_bg.jpg')}}
  @media screen and (max-width: 500px) {.top-blog-bg{background-image: url('../img/blog/500_blog_bg.jpg')}}
  @media screen and (max-width: 400px) {.top-blog-bg{background-image: url('../img/blog/400_blog_bg.jpg')}}
  @media screen and (max-width: 300px) {.top-blog-bg{background-image: url('../img/blog/300_blog_bg.jpg')}}
  @media screen and (max-width: 200px) {.top-blog-bg{background-image: url('../img/blog/200_blog_bg.jpg')}}
  
  
  
  .fa-facebook {background-color: #3b5998;}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .blog-sidebar-left{background-color:#fff;overflow:auto;border-bottom:1px solid black}
  
  .radius-blog{border-radius:50%;border:2px solid black;padding:20px;
  display:block;
  
  font-size:20px!important;
  border: 2px solid #999;transition: transform 0.3s;-webkit-transition: transform 0.3s;position:relative
  }
  
  .radius-blog:hover{
  /* Firefox */
    -moz-transform: rotate(20deg);
    /* WebKit */
    -webkit-transform:  rotate(20deg);
    /* Opera */
    -o-transform: rotate(20deg);
    /* Standard */
    transform: rotate(20deg);
  
      border: 2px solid red;
    }
  
  .blog-category{border:2px solid #999;display:inline-block;padding:5px 15px;margin:5px 2px;border-radius:20px;color:#666
  }
  .blog-category:hover{color:#06C;border:2px solid #06C}
  
  .blog{padding-top:0px;padding-bottom: 0px;padding-top: 90px;padding-bottom: 90px;margin-top: 0px}
  .blog-post{padding-top:0px;padding-bottom: 0px;padding-top: 90px;padding-bottom: 15px;margin-top: 0px}
  @media screen and (max-width: 1199px) {
    .blog{padding-top:30px;padding-bottom: 50px;margin-top: 87px!important}
    .blog-post{padding-top:30px;padding-bottom: 15px;margin-top: 87px!important}
  }
  /*custom alert*/
  .widget-title {
      margin: 25px 0 25px -30px;
      background-color: rgba(255,255,255,0.4);
      padding: 10px 0 10px 30px;
      color: #06C
  }
  
  /*custom alert*/
  .date-h{font-weight: 900;letter-spacing: 1px}
  .title-blog{margin-top: 0px}
  .latest-link{display:flex;text-decoration: none;transition: opacity .2s;-webkit-transition: opacity .2s;color:#000000;border-bottom: 2px solid red;}
  .latest-link:hover{opacity: 0.7;}
  @media screen and (max-width: 1199px) {
  .latest-link{display:block}
  }
  #latest-post .latest-link:last-child{border:none!important}
  
  .blog-img-latest{
      border: 2px solid #000;
      margin-top: 20px;margin-bottom: 20px;
      width: 150px;text-align: center;clear: both;margin-left: auto;margin-right: auto
  }
  /*blog*/
  
  .img-load{position: fixed;top: 50%}
  
  
  
  
  
  
  
  
  /*zegar*/
  .clock {
    background: url("../img/clock/clock_face_11_by_stephenjohnsmith-d8xmo10.png") no-repeat center center;
      background-size: 200px 200px;
      width: 200px;
      height: 200px;
      margin: 50px auto;
      overflow: auto;
  
  }
  
  .clock .hours {
      background: url(../img/clock/arrow3.png) center top no-repeat;
      height: 99px;
      margin-left: 95px;
      margin-top: 50px;
      position: absolute;
      width: 11px;
      animation-duration: 43200s;
  }
  
  .clock .minutes {
      background: url(../img/clock/arrow2.png) center top no-repeat;
      height: 139px;
      margin-left: 93px;
      margin-top: 30px;
      position: absolute;
      width: 13px;
      animation-duration: 3600s;
  }
  
  .clock .seconds {
      background: url(../img/clock/arrow1.png) center top no-repeat;
      height: 161px;
      margin-left: 95px;
      margin-top: 19px;
      position: absolute;
      width: 10px;
      animation-duration: 60s;
  }
  
  .animate {
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /*zegar*/
  
  
  /*custom icon*/
  .custom-icon {
    color:#FFF;
    font-size: 40px!important;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 20px;
    background-color: #177ca4;
  }
  /*custom icon*/
  
  
  
  /*zdjecia*/
  .my-img{width: 100%}
  .service-img{width: 80px;height: 80px}
  /*zdjecia*/
  
  
  
  
  
  
  
  
  /*slider*/
  
  
  
  
  .crossfade > figure {
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100vh;
    left: 0px;
    opacity: 0;
    position:fixed;
    top: 0px;
    width: 100%;
    z-index: -10;
  }
  
  
  
  
  .crossfade > figure:nth-child(1) {  background-image: url('../img/home/1/office-583839_1920.jpg');
  
  }
  
  .crossfade > figure:nth-child(2) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
    background-image: url('../img/home/2/code-1689066_1920.jpg');
     
  }
  
  .crossfade > figure:nth-child(3) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
    background-image: url('../img/home/3/mobile-616012_1920.jpg');
  }
  
  
  .crossfade > figure:nth-child(4) {
    -webkit-animation-delay: 30s;
            animation-delay: 30s;
    background-image: url('../img/home/4/computer-1854038_1920.jpg');
  }
  .dark-container{
    background: rgba(0,0,0,0.4);  
    width:100%;
    height:100vh
  }
  
  
  
  @keyframes 
  imageAnimation {  0% {
   animation-timing-function: ease-in;
   opacity: 0;
  }
   8% {
   animation-timing-function: ease-out;
   opacity: 1;
  }
   17% {
   opacity: 1
  }
   26% {
   opacity: 0
  }
   100% {
   opacity: 0
  }
  }
  
  
  
  /*responsywne obrazki*/
  @media screen and (max-height: 1000px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/1000_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/1000_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/1000_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/1000_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 900px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/900_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/900_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/900_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/900_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 800px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/800_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/800_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/800_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/800_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 700px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/700_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/700_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/700_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/700_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 600px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/600_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/600_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/600_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/600_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 500px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/500_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/500_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/500_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/500_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 400px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/400_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/400_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/400_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/400_computer-1854038_1920.jpg');}
  
  }
  @media screen and (max-height: 300px) {
    .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/300_office-583839_1920.jpg');}
    .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/300_code-1689066_1920.jpg');}
    .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/300_mobile-616012_1920.jpg');}
    .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/300_computer-1854038_1920.jpg');}
  
  }
  // @media screen and (max-height: 200px) {
  //   .crossfade > figure:nth-child(1) {background-image: url('../img/home/1/100_office-583839_1920.jpg');}
  //   .crossfade > figure:nth-child(2) {background-image: url('../img/home/2/100_code-1689066_1920.jpg');}
  //   .crossfade > figure:nth-child(3) {background-image: url('../img/home/3/100_mobile-616012_1920.jpg');}
  //   .crossfade > figure:nth-child(4) {background-image: url('../img/home/4/100_computer-1854038_1920.jpg');}

  // }
  
  /*responsywne obrazki*/
  
  
  
  
  
  /*slider*/
  
  
  
  /*ajax loader*/
  
  
  /*ajax loader*/
  
  
  
  
  
  
  
  
  
  
  /*migajacy kursor*/
  .jump{animation: blink 1s infinite; } @keyframes type{from { width: 0; } } @keyframes type2{0%{width: 0;} 50%{width: 0;} 100%{ width: 100; } } @keyframes blink{to{opacity: .0;} }
  /*migajacy kursor*/
  
  
  
  
  
  
  
  
  
  /*komentarze*/
  .panel-shadow {
      box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
      margin-top:10px;
  }
  
  .panel-shadow-blog {
     margin-top:0px;
  }
  
  .panel-white {
    border: 1px solid #dddddd;
  }
  .panel-white  .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
  }
  .panel-white  .panel-footer {
    background-color: #fff;
    border-color: #ddd;
  }
  
  .post .post-heading {
    padding: 15px 15px 0px 15px;
    overflow: auto;
  }
  .post .post-heading .avatar {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 15px;
  }
  .post .post-heading .meta .title {
    margin-bottom: 0;
  }
  .post .post-heading .meta .title a {
    color: black;
  }
  .post .post-heading .meta .title a:hover {
    color: #aaaaaa;
  }
  .post .post-heading .meta .time {
    margin-top: 8px;
    color: #999;
  }
  .post .post-image .image {
    width: 100%;
    height: auto;
  }
  .post .post-description {
    padding: 15px;
  }
  .post .post-description p {
    font-size: 14px;
    word-break: break-all; word-wrap: break-word;
  
  
  }
  
  /*komentarze*/
  
  
  
  
  
  /*post title*/
  .black-bg-post{
    padding: 10px 20px;display: inline-block;background: rgba(0, 0, 0, 0.8);
  }
  .padding-post-img{
    padding:3% 0px;
  }
  
  .title-post-img{background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover}
  /*post title*/
  
  
  
  
  
  
  
  /*custom hr*/
  
  
  hr.style-two { padding: 0; border: none; border-top: medium double #333; color: #333; text-align: center; } 
  hr.style-two:after { content: "§"; display: inline-block; position: relative; top: -0.9em; font-size: 1.5em;background: white; }
  /*custom hr*/
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /////////////////////////////////////
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /*galeria sort*/
  .filtr-item {
      padding: 1rem;
      overflow: hidden!important;
   transition: translate 10.6s ease-in-out;
  
  }
  .item-desc {
      background-color: rgba(0,0,0,0.5);
      color: white;
      position: absolute;
      text-transform: uppercase;
      text-align: center;
      padding: 1rem;
      z-index: 1;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
      display:none;
  
   
  }
  
  
  .filtr-item:hover .item-desc{display:block;}
  
  .filtr-item:hover img{transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);}
  
  
  /* Filter controls */
  .simplefilter li, .multifilter li, .sortandshuffle li {
      color: white;
      cursor: pointer;
      display: inline-block;
      text-transform: uppercase;
      padding: 1rem 2rem;
  }
  .simplefilter li {
      background-color: #585858;
  }
  .simplefilter li.active {
      background-color: #212121;
  }
  .multifilter li {
      background-color: #4b9eff;
  }
  .multifilter li.active {
      background-color: #2265b4;
  }
  
  /* Shuffle and sort controls */
  select {
      padding: 1rem 1rem;
      text-transform: uppercase;
  }
  .sortandshuffle .shuffle-btn {
      background-color: #dec800;
  }
  .sortandshuffle .sort-btn {
      background-color: #de0000;
  }
  .sortandshuffle .sort-btn.active {
      background-color: #9d0000;
  }
  
  /* Search control */
  .search-row {
      margin-left: 2.5rem;
  }
  .filtr-search {
      padding: 0.5rem;
      text-transform: uppercase;
  }
  
  .portfolio-link{}
  
  .portfolio-link ,.sort-img,.item-desc{  -webkit-transition: 250ms transform;
      transition: 250ms transform;}
  
  
  .portfolio-link:hover .item-desc{opacity: 1}
  .portfolio-link:hover .sort-img{ }
  /*galeria sort*/
  
  
  /*custom list-group*/
  .custom-item{background-color:#e71a1a!important;color:#fff!important;border:0px;}
  /*custom list-group*/
  
  
  @-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  .shake-2 {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 1s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
  }
  
  .nav_portfolio{font-family: 'Aldrich', sans-serif;font-size: 14px;font-weight:900;letter-spacing: 1px;min-width: 50px;overflow-x: auto;text-transform: uppercase;z-index:9000;}
  .nav_portfolio li {display: inline-block;padding: 10px 15px 10px 15px;overflow: visible;height:auto;font-weight: 500;letter-spacing: .1em;}
  .nav_portfolio li:nth-child(1){}
  .nav_portfolio li:last-child {margin-right:60px;}
  .nav_portfolio ul {list-style: none;text-align: center;white-space: nowrap;margin:15px 73px 10px 23px;}
  .nav_portfolio li a{color:#000}
  .nav_portfolio li a:hover{text-decoration: none;opacity: 0.5}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  //////////////////////////////////////////////////////
  ////////////////////////ligthbox//////////////////////
  //////////////////////////////////////////////////////
  .lb-loader,.lightbox{text-align:center;line-height:0}body:after{content:url(../img/lightboximg/close.png) url(../img/lightboximg/loading.gif) url(../img/lightboximg/prev.png) url(../img/lightboximg/next.png);display:none}.lb-dataContainer:after,.lb-outerContainer:after{content:"";clear:both}body.lb-disable-scrolling{overflow:hidden}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;font-weight:400}.lightbox .lb-image{display:block;height:auto;max-width:inherit;border-radius:3px}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:none;width:250px;height:250px;margin:0 auto;border-radius:4px}.lb-loader,.lb-nav{position:absolute;left:0}.lb-outerContainer:after{display:table}.lb-container{padding:4px}.lb-loader{top:43%;height:25%;width:100%}.lb-cancel{display:block;width:55px;height:55px;margin:0 auto;background:url(../img/lightboximg/loading.gif) no-repeat}.lb-nav{top:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../img/lightboximg/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../img/lightboximg/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{display:table}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-size:13px;font-weight:700;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;font-size:12px;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../img/lightboximg/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}
  //////////////////////////////////////////////////////
  ////////////////////////prism/////////////////////////
  //////////////////////////////////////////////////////
  /* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+php+php-extras */
  /**
   * okaidia theme for JavaScript, CSS and HTML
   * Loosely based on Monokai textmate theme by http://www.monokai.nl/
   * @author ocodia
   */
  
  code[class*="language-"],
  pre[class*="language-"] {
    color: #f8f8f2;
    background: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
  
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  
  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
  }
  
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #272822;
  }
  
  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
  }
  
  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }
  
  .token.punctuation {
    color: #f8f8f2;
  }
  
  .namespace {
    opacity: .7;
  }
  
  .token.property,
  .token.tag,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #f92672;
  }
  
  .token.boolean,
  .token.number {
    color: #ae81ff;
  }
  
  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #a6e22e;
  }
  
  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string,
  .token.variable {
    color: #f8f8f2;
  }
  
  .token.atrule,
  .token.attr-value,
  .token.function {
    color: #e6db74;
  }
  
  .token.keyword {
    color: #66d9ef;
  }
  
  .token.regex,
  .token.important {
    color: #fd971f;
  }
  
  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }
  
  .token.entity {
    cursor: help;
  }
  
  
  
  