<template>
<div class="">
    <div v-if="showModal">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" @click="showModal = false">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title">Moduł do uploadu plików w cms</h4>
                            </div>
                            <div class="modal-body">
                                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus reprehenderit beatae quae eligendi asperiores libero accusamus esse aliquid ipsum, fugiat autem! Atque aut quod assumenda consequuntur modi cum fugiat ducimus distinctio et cumque aperiam id illum labore, sint nisi voluptates impedit facilis quo? Rerum, culpa corporis! Velit consequuntur enim distinctio!</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eligendi facilis maiores! Nostrum veritatis rerum, quidem vitae alias suscipit quos quae eligendi nam id autem dolore error, quod eos perferendis fuga nemo. Tempora sint exercitationem earum quae corporis voluptates, mollitia corrupti possimus qui sapiente, molestias quos? Reprehenderit porro similique aut sed quasi maxime quaerat officiis amet. Facere saepe natus quis fugiat reprehenderit voluptate maxime, ipsam iure nostrum dolor, tempore non quisquam reiciendis recusandae magnam quas ullam enim ad consequatur? Animi et fuga incidunt omnis debitis possimus impedit vero magni earum soluta aliquam nostrum corporis sed exercitationem autem nam, nesciunt optio.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
    </div>
    <button id="show-modal" @click="showModal = true">Upload plików</button>
</div>
</template>

<script>
export default {
    data() {
        return {
            showModal: false,
        };
    },

    mounted() {
        console.log("Component mounted.");
    },
};
</script>

<style>
.modal-mask {
    position: fixed;
    z-index: 20033;
    top: 0;
    width: 100%;
    left: 0;
}

.modal-dialog {
    width: 95% !important;
}
</style>
