.footer {
    background-color: #171717;
    padding-top: 70px;
    padding-bottom: 70px;
    color: #fff
}

.circle-icon {
    color: #fff;
    font-size: 20px !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    padding: 10px;
}

.footer .fa-facebook {
    background-color: #3b5998;
}

.fa-twitter {
    background-color: #00aced;
}

.fa-instagram {
    background-color: #517fa4;
}

.fa-google-plus {
    background-color: #dd4b39;
}

.icon-link {
    -webkit-transition: transform ease .3s;
    -moz-transition: transform ease .3s;
    -ms-transition: transform ease .3s;
    -o-transition: transform ease .3s;
    transition: transform ease .3s;
    display: inline-block;
}

.icon-link:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.svg-footer {
    width: 50px;
    height: 50px;
    margin-bottom: 29px;
}