/*///////////////////////////////////////odtad sa style menu///////////////////////////////////////////////*/
@color: #900000;
/*linki*/
@color2: #e71a1a;
/*link menu inny czerwony*/
@color_hamburger: black;
/*kolor burgera*/
@aldrich: 'Aldrich', sans-serif;
@menu_resolution_open: 1200px;
@time_open_menu: 250ms;
@menu_resolution_open_1: (@menu_resolution_open - 1);

/*style rozwijanej iony menu*/
.time-nav {
    -webkit-animation: zoomIn 0.0s !important;
    animation: zoomIn 0.0s !important;
}

.menu-opener,
.menu-opener:hover,
.menu-opener.active,
.menu-opener-inner,
.menu-opener-inner::before,
.menu-opener-inner::after,
.menu,
.menu.active {
    -webkit-transition: @time_open_menu transform;
    transition: @time_open_menu transform;
    display: block;
}

.menu-opener {
    cursor: pointer;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 54px;
    z-index: 9000;
}

.menu-opener-inner {
    background: @color_hamburger;
    height: .5rem;
    margin-left: .45rem;
    margin-top: 2.3rem;
    width: 4.5rem;
}

.menu-opener-inner::before,
.menu-opener-inner::after {
    background: @color_hamburger;
    content: '';
    display: block;
    height: .5rem;
    width: 4.5rem;
}

.menu-opener-inner::before {
    -webkit-transform: translateY(-1.25rem);
    -ms-transform: translateY(-1.25rem);
    transform: translateY(-1.25rem);
}

.menu-opener-inner::after {
    -webkit-transform: translateY(0.7rem);
    -ms-transform: translateY(0.7rem);
    transform: translateY(0.7rem);
}

.menu-opener-inner.active {
    background: transparent;
}

.menu-opener-inner.active::before {
    -webkit-transform: translateY(0rem) rotate(-45deg);
    -ms-transform: translateY(0rem) rotate(-45deg);
    transform: translateY(0rem) rotate(-45deg);
}

.menu-opener-inner.active::after {
    -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
    transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

/*style rozwijanej iony menu*/

/*mp3 player*/
.btn-mp3 {
    position: relative;
    display: block;
    border: 2px solid white;
    width: 41px;
    height: 30px;
    margin-bottom: -7px;
    margin-right: auto;
    margin-left: auto;
}

.eq {
    cursor: pointer;
    position: absolute;
    top: 7px;
    left: 5px;
    display: block;
    width: 20px;
    height: 15px;

    &__bar {
        position: absolute;
        bottom: 0;
        display: block;
        float: left;
        width: 0;
        height: 15px;
        border-left: 4px solid white;
        transition: height 0.2s ease-out 0.2s;
    }

    &__1 {
        left: 0;
    }

    &__2 {
        left: 6px;
    }

    &__3 {
        left: 12px;
    }

    &__4 {
        left: 18px;
    }

    &__5 {
        left: 24px;
    }

    &--on {
        .eq__bar {
            animation-name: eq-play;
            animation-iteration-count: infinite;
            animation-timing-function: ease;
            animation-fill-mode: both;
        }

        //Offset durations for randomized motion
        .eq__1 {
            animation-duration: 0.6s;
        }

        .eq__2 {
            animation-duration: 0.5s;
        }

        .eq__3 {
            animation-duration: 0.58s;
        }

        .eq__4 {
            animation-duration: 0.52s;
        }

        .eq__5 {
            animation-duration: 0.56s;
        }
    }

    //Switch to off animation
    &--off {
        .eq__bar {
            animation-name: eq-stop;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes eq-play {

    0%,
    100% {
        height: 8px;
    }

    50% {
        height: 15px;
    }
}

@keyframes eq-stop {
    0% {
        height: 15px;
    }

    100% {
        height: 3px;
    }
}

.sticky .btn-mp3 {
    border: 2px solid @color_hamburger;
}

.sticky .eq {
    &__bar {
        border-left: 4px solid @color_hamburger;
    }
}

/*mp3 player*/

.nav-custom {
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    z-index: 9100 !important;
    font-family: @aldrich;
}

.nav-custom .container {
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-custom .open>.dropdown-menu {
    display: inline-block;
    float: none
}

.nav-custom ol,
ul {
    margin-top: auto !important;
    margin-bottom: auto !important;
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
    >.tab-pane {
        display: none;
    }

    >.active {
        display: block;
    }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
    // make dropdown border overlap tab border
    margin-top: -1px;
    // Remove the top rounded corners here since there is a hard edge above the menu
    //.border-top-radius(0);
}

.nav-custom li a {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    display: block;
    padding: 10px;
}

.nav-custom li a:hover {
    background-color: transparent;
    color: @color2
}

.dropdown-menu li a {
    color: @color_hamburger
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
}

.sticky {
    padding: 10px 0px;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid @color_hamburger;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
}

.sticky li a {
    color: @color_hamburger
}

.nav li:active {
    background-color: transparent;
}

.nav {
    float: right;
    margin-left: auto;
    text-align: right;
}

.text-menu {
    float: left;
    z-index: 9100 !important;
    position: relative;
}

.text-menu img {
    width: 80px;
    height: 80px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.sticky .text-menu img {
    width: 60px;
    height: 60px;
    /* IE 9 */
    -webkit-transform: rotate(360deg);
    /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}


@media only screen and (min-width: @menu_resolution_open) {

    .menu-opener,
    .menu-opener-inner {
        display: none;
    }

    .nav-custom li {
        display: inline-block;
    }

    .show {
        display: inline-block !important;
    }
}

@media only screen and (max-width: @menu_resolution_open_1) {
    .nav-custom {
        background-color: white;
        border-bottom: 2px solid @color_hamburger;
        -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
        box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 1);
    }

    .nav-custom li a {
        color: @color_hamburger
    }

    .text-menu img {
        width: 50px;
        height: 50px
    }

    .sticky .text-menu img {
        width: 50px;
        height: 50px;
    }

    .nav-custom .container {
        display: block;
        width: 100%;
    }

    .text-menu {
        float: none;
        position: absolute;
        top: 15px;
        left: 17px
    }

    .nav {
        float: none;
        margin: auto;
        border-top: 3px solid @color_hamburger;
    }

    .dropdown-menu {
        position: relative;
    }

    .menu-opener,
    .menu-opener-inner {
        display: block;
    }

    .nav-custom {
        padding: 80px 0px 0px 0px;
        margin: 0px
    }

    .nav-custom li {
        text-align: center;
    }

    .dropdown-menu li {
        border: 0px
    }

    .clearfix {
        display: block;
    }

    .nav {
        display: none
    }

    .black-nav {
        padding-bottom: 20px;
        padding-left: 0px;
        display: block
    }

    .btn-mp3 {
        border: 2px solid @color_hamburger;
    }

    .eq__bar {
        border-left: 4px solid @color_hamburger;
    }
}

@media only screen and (max-height: 557px) {
    .nav-overflow {
        list-style-type: none;
        overflow-y: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        height: 100vh
    }
}

.active-link a {
    color: @color2  !important
}
/*///////////////////////////////////////oktore koncza sie tu///////////////////////////////////////////////*/
